:host {
  --content-padding: 10px;
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  display: block;
  height: 64px;
  padding: var(--content-padding);
  box-shadow: 0px 1px 5px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}
