<main>
  <header class="brand-name d-flex column-gap-3 px-4 p-0">
    <a [routerLink]="['/']" class="py-2 d-flex align-items-center">
      <img
        src="/assets/{{logo}}"
        class="brand-logo"
        alt="logo"
        style="max-height: 54px;"
        aria-hidden="true"
      />
    </a>
    <nav class="d-flex align-items-end">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let item of navlinks">
          <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="[item.path]">{{item.name}}</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="d-flex">
    <aside class="navbar bg-white border-end border-2 vh-100 position-fixed z-8 mt-64 text-grey">
      <app-side-nav></app-side-nav>
    </aside>
    <section class="content w-100 bg-body-secondary ms-300 p-3">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
