<div class="vw-100 vh-100 top-0 start-0 z-3 position-fixed d-flex justify-content-center align-items-center">
    <div class="w-100 h-100 bg-secondary opacity-50 "></div>
    <div class="card mw-100 bg-white border shadow position-fixed" style="width: 500px;">
        <div class="card-header text-center">
            <h4>New Task</h4>
        </div>
        <div class="card-body">
            <div class="mb-2">
                <label for="new-task-title" class="form-label">Title</label>
                <input type="text" id="new-task-title" class="form-control" placeholder="Input title">
            </div>
            <div class="mb-2">
                <label for="new-task-description" class="form-label">Description</label>
                <textarea id="new-task-description" class="form-control" row="3" placeholder="Input description"></textarea>
            </div>
            <div class="mb-2">
                <label for="new-task-color" class="form-label">Color</label>
                <input type="color" id="new-task-color" class="form-control" placeholder="Input title">
            </div>
        </div>
        <div class="ms-auto btn-group m-3">
            <button class="btn bg-primary text-white">Confirm</button>
            <button class="btn bg-danger text-white" (click)="clickCancel()">Cancel</button>
        </div>
    </div>
</div>