<div class="task-card">
    <p class="task-title m-0 fw-semibold">Title</p>
    <p class="task-description  m-0">
        This is task description
    </p>
    <ul>
        <li>subtask - 1</li>
        <li>subtask - 2</li>
    </ul>
    <div class="sub-task-input">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">New</span>
            <input type="text" class="form-control" id="subtask-input" placeholder="Input subtask text">
        </div>
    </div>
</div>